*{
    background-color: rgb(73, 77, 77);
}
.home{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: aliceblue;
}
/* 
.relative{
    position: relative;
    width: 400px;
    height: 200px;
    border: 2px solid red;
    

}

.absolute{
    position: absolute;
    width: 200px;
    height: 100px;
    border: 2px solid blue;
    top: 80px;
    right: 0;
} */


.calosc{
    position: relative;
    margin-left: 5px;
    margin-top: 50px;
    /* border: 10px solid blue; */
    width: 700px;
    height: 300px;
    /* background-image: linear-gradient(blue,yellow,red); */
    font-size: 30px;
    color: white;
    text-align: center;
    }

    .div1{
        position: absolute;
        width: 160px;
        height: 250px;
        background-image: url(./tlo1.jpg);
        background-size: cover;
        border: 2px solid white;
        border-radius: 25px;
        text-align: center;
        margin-top: 20px;
        z-index: 1;
        transform: rotate(-30deg);
    }
    .div2{
        position: absolute;
        width: 160px;
        height: 250px;
        background-image: url(./tlo2.jpg);
        background-size: cover;
        border: 2px solid white;
        border-radius: 25px;
        text-align: center;
        margin-top: 20px;
        z-index: 2;
        transform: rotate(36deg);
        margin-left: 100px;
    }
    .div3{
        position: absolute;
        width: 160px;
        height: 250px;
        background-image: url(./6.jpg);
        background-size: cover;
        border: 2px solid white;
        border-radius: 25px;
        text-align: center;
        margin-top: 20px;
        z-index: 3;
        transform: rotate(-16deg);
        margin-left: 200px;
    }
    .div4{
        position: absolute;
        width: 160px;
        height: 250px;
        background-image: url(./tlo3.jpg);
        background-size: cover;
        border: 2px solid white;
        border-radius: 25px;
        text-align: center;
        margin-top: 20px;
        z-index: 4;
        transform: rotate(25deg);
        margin-left: 300px;
    }
    .div5{
        position: absolute;
        width: 160px;
        height: 250px;
        background-image: url(./5.jpg);
        background-size: cover;
        border: 2px solid white;
        border-radius: 25px;
        text-align: center;
        margin-top: 20px;
        z-index: 5;
        transform: rotate(-25deg);
        margin-left: 400px;
    }
    .div6{
        position: absolute;
        width: 160px;
        height: 250px;
        background-image: url(./4.jpg);
        background-size: cover;
        border: 2px solid white;
        border-radius: 25px;
        text-align: center;
        margin-top: 20px;
        z-index: 6;
        transform: rotate(25deg);
        margin-left: 500px;
    }
    div:hover{
        z-index: 7;
        transform: rotate(0deg);
        transition: 0.5s;
        /* filter: drop-shadow(0 0 0.75rem); */
        /* transform: scale(110%);  */
    }