*{
    margin:0 !important;
    padding:0 !important;
}
body{
    background-color: #0a0a0a;
    /* word-wrap: break-word;  */
	overflow: hidden;
    
}
.tekst{
    color: aliceblue;
    text-align: center;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    top:  auto;
    
}
.blok{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #0a0a0a;
    opacity: 50%;
}

.tlo{
    
	height: 100vh;
	width: auto;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background-image: url(./tlo2.jpg); /* https://hdqwalls.com/wallpaper/2932x2932/colorful-neon-city-4k Author: xutengpan*/
    background-size: cover;
    background-position: center;
}

.footer{
    
    position: absolute;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 97% ;
    text-align: center;
}